html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

#highlight {
    font-weight: bold;
    color: #ef6c00;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    text-shadow: 2px 5px 10px black;
}

#title {
    font-weight: bold;
}

p {
    color: white;
}

.flow-text {
    padding: 55px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 2px;
    line-height: 35px;
}

.divider {
    margin-top: 55px;
}

/* h1 {
    color: white;
} */

.container {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
}

#pic-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: black;
    opacity: .8;

}

#background {
    position: relative;
    background-image: url('../images/office2.jpg');
    /* Photo by Daniel Korpai on Unsplash, https://unsplash.com/@danielkorpai */
    background-size: cover;
    height: 100%;
}

#logo {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    opacity: .7;
    transition: width 1s, height 1s, opacity 1s; 
}

#logo:hover {
    width: 55px;
    height: 55px;
    padding-top: 10px;
    opacity: 1;
    transition: width 1s, height 1s, opacity 1s;
}

li {
    opacity: .7;
    transition: opacity 1s !important;
}

li:hover {
    opacity: 1;
    transition: opacity 1s;
}

.contact-logo {
    color: white;
    width: 150px;
    height: 150px;
    padding: 15px;
    margin-right: 15px;
    cursor: pointer;
    opacity: .8;
    transition: width 1s, height 1s, opacity 1s;

}

.contact-logo:hover {
    width: 155px;
    height: 155px;
    opacity: 1;
    transition: width 1s, height 1s, opacity 1s;
}

.modal p, h4 {
    color: black;
    text-shadow: none;
}

.modal p {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
}

.modal-note {
    font-size: 18px !important;
    font-weight: normal;
    line-height: 25px;
    margin-top: 5px;
}

.modal-hr {
    margin: 25px;
}

#phone-modal-img {
    height: 50px;
    width: 50px;
}

#email-modal-img {
    height: 50px;
    width: 50px;
}

.giphyImage {
    display: block;
    margin: auto;
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

.carousel.carousel-slider {
    width: 720px;
}
